body {
	margin-top: 20px;
	margin-bottom: 20px;
}

.glyphicon{
	top:14px;
	box-shadow: 0 0 2px 2px #ccc;
}

.form-group{
	text-align: center;
}

.lighterText{
	font-weight: lighter;
}

input[type='radio']:checked {
  background:green;
}

.popover {
	width: 375px;
}

.test{
	color:#47a447;
	position:absolute;
	left:-10px;
	top:4px;
	box-shadow: none;
}

.popover.bottom>.arrow{
	left: 50%;
}
